<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Secured Page</title>

    <!-- include css in the header -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-secured.css}"/>
</head>
<body>
    <div class="container">
        <h1>Secured Page</h1>
        <div>User Name: <span th:text="${userName}"></span></div>
        <div>Client Name: <span th:text="${clientName}"></span></div>
        <div>User Attributes: <span th:text="${userAttributes}"></span></div>
    </div>
    <!-- include javascript in the footer -->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
</body>
</html>
